[submodule "SVGTracer"]
	path = SVGTracer
	url = https://github.com/Windcent/SVGTracer.git
[submodule "outboards_data"]
	path = outboards_data
	url = https://github.com/Windcent/outboards_data.git
[submodule "FlowTracer"]
	path = FlowTracer
	url = https://github.com/Windcent/FlowTracer.git
[submodule "SlideMAKER"]
	path = SlideMAKER
	url = https://github.com/Windcent/SlideMAKER.git
